<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Login Style CSS -->
    <!-- Favicon -->
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/assets/css/login.css">

</head>

<body>

    <!-- header -->
    
    <main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">
                <div class="timeline-page-wrapper">
                    <div class="timeline-bg-content bg-img background-tdt" data-bg="/assets/images/timeline/timeline-login.jpg">
                        <div class="card sdfasfdsa">
                            <div class="card-body"> 
                                <div class="login-form">
                                    <h1><%=__('login')%></h1>
                                    <form action="auth" method="POST">
                                        <input type="text" name="username" placeholder="<%=__('username')%>" required>
                                        <input type="password" name="password" placeholder="<%=__('password')%>" required>
                                        <div class="row justify-content-md-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                    <div class="row justify-content-md-center">
                                        <a class="button" href="/auth/google"><img src="/assets/images/logo/google.jpg" /><%=__('Logingoogle')%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scroll to top start -->
    <%- include('layouts/scroll.ejs') %>
        <!-- Scroll to Top End -->

        <!-- footer listfriend message include footer in here-->


        <!-- JS
============================================ -->

        <%- include('layouts/javascript.ejs') %>

</body>

</html>