<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TDTU</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%- include('layouts/head') %>

</head>

<body>

    <!-- header -->
    <%- include('layouts/header.ejs') %> 

    <main>
        
        <div class="main-wrapper pt-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <form action="/notification" class="form-container" method="GET">
                                
                                <div class="">
                                    <label for="cars">Choose faculty</label>

                                    <select name="faculty_id">
                                        <% faculty.forEach(e => { %>
                                            <option value=<%- e._id %> ><%- e.name %>  </option>
                                        <% }) %>
                                    </select>     
                                </div>             
                                
                                <input type="submit" value="Filter" style="margin-top: 20px;">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <% notification.forEach(noti => {%>
                            <a class="card" href="/notification/detail/<%- noti._id %> ">
                                <h4><%- noti.title %> </h4>
                                <ul>
                                    <% noti.faculty.forEach(fac => { %>
                                        <li><%- fac.name %> </li>
                                    <% }) %>
                                </ul>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        

    </main>
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to top start -->
    <!-- Scroll to Top End -->

    <!-- footer listfriend message include footer in here-->
    
    
    <!-- JS
============================================ -->

    <%- include('layouts/javascript.ejs') %>

</body>

</html>