<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
        <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
        <title>Home</title>

        <!-- ========== Css Files ========== -->
        <%- include('layouts/head') %>

    </head>
    <body>
    <!-- Start Page Loading -->
        <%- include('layouts/loading') %>
        <!-- End Page Loading -->

        <!-- START TOP -->
        <%- include('layouts/header') %> 
        <!-- END TOP -->

        <!-- START SIDEBAR -->
        <%- include('layouts/left-menu') %> 
        <!-- END SIDEBAR -->

        <!-- START CONTENT -->
        <div class="content">
            
            <!-- Start Page Header -->
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
            
                    <div class="panel-title">
                        Add Faculty
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="panel-body">
                        <form class="form-horizontal" action="/admin/addFaculty" method="POST">
                            <div class="form-group">
                              <label for="input002" class="col-sm-2 control-label form-label">Faculty name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="name">
                              </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="input002" class="col-sm-2 control-label form-label">Faculty key</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="key_name">
                                </div>
                            </div>
                            

                            <div class="">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-11">
                                    <button type="submit"class="btn btn-primary" >Add</button>
                                    <input type="submit"class="btn btn-primary" name="search" value="Search">
                                </div>
                            </div>
                            
                          </form> 
            
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Page Header -->
            

            <!-- START CONTAINER -->
            <div class="container-widget">
                <!-- Start Fifth Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                
                        <div class="panel-title admin-panel__title">
                            Account List
                            <div class="admin-panel__filter"> 
                                Filter by : 
                                <select class="form-select form-select-lg admin-panel__select" aria-label="Default select example">
                                    <option selected="selected" value="all">Tất cả</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="panel-body table-responsive">
                
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Id Faculty</td>
                                        <td>Name Faculty</td>
                                        <td>Key Faculty</td>
                                    </tr>
                                </thead>
                                <% faculties.forEach(faculty=>{ %>
                                    <tbody>
                                        <tr>
                                            <td><%- faculty._id %></td>
                                            <td><%- faculty.name %></td>
                                            <td><%- faculty.key_name %></td>
                                        </tr>
                                </tbody>
                                <% }) %>
                                
                            </table>
                        </div>
                
                        </div>
                    </div>
                    <!-- End Panel -->

                </div>
                <!-- End Fifth Row -->

            </div>
            <!-- END CONTAINER -->

        </div>
        <!-- End Content -->

        <%- include('layouts/javascript') %>

    </body>
</html>